body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-title{
	font-family: 'Josefin Slab', serif;
}

.gif-img {
	position: relative;
    top: 80px;
    text-align: center;

    
}
