body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-title{
	font-family: 'Josefin Slab', serif;
}

.gif-img {
	padding-top: 60px;
	 text-align: center
}
